.root {
  width: 100%;
  max-width: 1920px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 190%;
  color: #4b4f51;
}

.body {
  margin: 0;
  background-color: #fff8f8;
  overflow-x: hidden;
}

.button {
  padding: 16px 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ff383d;
  border: 2px solid #fb4c47;
  border-radius: 46px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 240px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 63px;
  height: 63px;
}

.logo__text {
  padding: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #035755;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar {
}
.navBar__btn {
  padding: 16px 45px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ff383d;
  border: 2px solid #fb4c47;
  box-sizing: border-box;
  border-radius: 46px;
  background-color: #fff8f8;
  cursor: pointer;
}
.navBar__btn:hover {
  color: #fff8f8;
  background-color: #fb4c47;
}

.menu {
  display: flex;
}

.menu__item {
  padding: 0 10px;
  list-style: none;
}

.menu__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.menu__link:hover {
  color: #fb4c47;
  text-decoration: underline;
}

.main {
  padding: 30px 240px;
}

.sectionRow {
  display: flex;
}
.sectionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textBlock {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 0;
}

.textBlock--center {
  text-align: center;
}

.textBlock_supTitle {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #fa5652;
}

.textBlock_supTitle--center {
  align-self: center;
}

.textBlock_title {
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  text-transform: capitalize;
  color: #035755;
}

.textBlock_title--center {
  align-self: center;
}

.textBlock_text {
  font-weight: normal;
  font-size: 24px;
  line-height: 46px;
  text-transform: capitalize;
  color: #4b4f51;
  margin: 0;
}

.textBlock_btn {
  padding: 25px 60px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #fff8f8;
  background: #fb4c47;
  box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 65px;
  cursor: pointer;
}

.textBlock_btn:hover {
  background-color: #fb4c47;
  opacity: 0.7;
}

.imageBlock {
  position: relative;
  width: 50%;
}

.imageBlock--big {
  width: 100%;
}

.imageBlock_img {
  position: absolute;
  width: 1000px;
}

.imageBlock_img--right {
  top: -70px;
  left: -90px;
}

.imageBlock_img--left {
  right: -60px;
  bottom: -60px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  box-sizing: border-box;
  width: 30%;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 22px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
}

.description__title {
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-transform: capitalize;
  color: #035755;
}

.description__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  text-transform: capitalize;
  color: #4b4f51;
}

.cardsToDo {
}
.cardToDo {
  display: flex;
  align-items: center;
}
.cardToDo__img {
  width: 80%;
}
.cardToDoItem {
  width: 50%;
  position: relative;
}
.cardToDoItem_img {
  position: absolute;
  width: 75px;
  height: 75px;
}
.descriptionHowToDo {
  margin-left: 100px;
}
.descriptionHowToDo__title {
  margin: 0;
  font-weight: 500;
  font-size: 47px;
  line-height: 69px;
  text-transform: capitalize;
  color: #035755;
}
.descriptionHowToDo__text {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-transform: capitalize;
  color: #4b4f51;
}

.footer {
}
